.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*  Footer CSS */

.ftco-section {
  padding: 12em 0; }
  .ftco-section h2 {
    margin-bottom: 0; }

footer {
  padding: 7em 0; }

.footer-09 {
  background: #2a1a5e;
  background: -moz-linear-gradient(45deg, #2a1a5e 0%, #5126a7 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, #2a1a5e), color-stop(100%, #5126a7));
  background: -webkit-linear-gradient(45deg, #2a1a5e 0%, #5126a7 100%);
  background: -o-linear-gradient(45deg, #2a1a5e 0%, #5126a7 100%);
  background: -ms-linear-gradient(45deg, #2a1a5e 0%, #5126a7 100%);
  background: linear-gradient(45deg, #2a1a5e 0%, #5126a7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a1a5e', endColorstr='#5126a7', GradientType=1 ); }
  .footer-09 .border-top {
    border-color: rgba(255, 255, 255, 0.1) !important; }
  .footer-09 a {
    color: #fe59d7; }
    .footer-09 a:hover {
      color: rgba(255, 255, 255, 0.9); }
  .footer-09 p {
    color: rgba(255, 255, 255, 0.3); }
  .footer-09 .footer-heading {
    color: #fff;
    font-size: 22px;
    margin-bottom: 30px; }
    .footer-09 .footer-heading .icon {
      width: 40px;
      margin-right: 10px;
      border-radius: 50%;
      height: 40px;
      display: block;
      color: #fe59d7;
      border: 1px solid #fe59d7; }
  .footer-09 ul.list-unstyled li a {
    color: rgba(255, 255, 255, 0.5); }
  .footer-09 .block-21 .heading a {
    color: rgba(255, 255, 255, 0.5); }
  .footer-09 .block-21 .meta div a {
    color: rgba(255, 255, 255, 0.3); }
  .footer-09 .block-23 ul li {
    color: rgba(255, 255, 255, 0.5); }
  .footer-09 .subscribe-form .form-group {
    position: relative;
    margin-bottom: 0;
    border-radius: 0; }
    .footer-09 .subscribe-form .form-group input {
      background: rgba(0, 0, 0, 0.05) !important;
      border: 2px solid #fe8ce3 !important;
      outline: none !important;
      color: rgba(255, 255, 255, 0.3) !important;
      font-size: 16px;
      border-radius: 0; }
      .footer-09 .subscribe-form .form-group input::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: rgba(255, 255, 255, 0.3) !important; }
      .footer-09 .subscribe-form .form-group input::-moz-placeholder {
        /* Firefox 19+ */
        color: rgba(255, 255, 255, 0.3) !important; }
      .footer-09 .subscribe-form .form-group input:-ms-input-placeholder {
        /* IE 10+ */
        color: rgba(255, 255, 255, 0.3) !important; }
      .footer-09 .subscribe-form .form-group input:-moz-placeholder {
        /* Firefox 18- */
        color: rgba(255, 255, 255, 0.3) !important; }
      .footer-09 .subscribe-form .form-group input:focus {
        outline: none !important;
        -webkit-box-shadow: none;
        box-shadow: none; }
    .footer-09 .subscribe-form .form-group .submit {
      color: #fff !important;
      display: block;
      width: 52px;
      height: 52px;
      font-size: 16px;
      background: #fe8ce3 !important;
      border: none;
      border-radius: 0; }
      .footer-09 .subscribe-form .form-group .submit:hover, .footer-09 .subscribe-form .form-group .submit:focus {
        text-decoration: none !important;
        outline: none !important; }